#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.background-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url(https://images.unsplash.com/photo-1530533609496-06430e875bbf?w=1600) center/cover; */
}

.stylish-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Forta';
    font-size: 12.5vw;
    width: 100%;
    height: 100%;
    color: transparent;
    -webkit-text-stroke: .4vw var(--primary-color);
    /* mix-blend-mode: screen; */
    background: 
    linear-gradient(var(--dynamic-angle), #fff 50%, transparent 50.5%) text,
    linear-gradient(var(--dynamic-angle), rgba(0, 0, 0, 0.8) 50%, transparent 50.5%);
    cursor: default;
    user-select: none;
}

