#about {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* min-width: 100vw; */
    font-family: 'lineNexa';
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(52, 105, 141) 100%);
}

#about .about-title {
    color: var(--bg--detail);
    /* margin: 20px; */
    background-color: var(--bg--escuro);
    width: 100vw;
}

#about .about-title span {
    font-size: 60px;
    margin: 20px;
}

.about-content {
    display: flex;
    /* height: 40vh; */
    /* opacity: .8; */
    padding: 50px 100px;
}

.about-left {
    width: 60%;
    /* background-color: #e8e8e875; */
}

.about-left-text {
    color: var(--bg--escuro);
    font-size: 40px;
    font-family: 'Forta';

}

.tags {
    display: flex;
    margin-top: 55px;
    /* justify-content: space-between; */
}

.tags p  {
    margin: 0 12px;
    font-size: 22px;
    color: #e8e8e8;
}

.tags p span {
    font-size: 42px;
}

.about-right {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.about-right-text {
    font-size: 42px;
    color: #e8e8e8;
    text-align: end;
}

.about-right-text span {
    font-family: 'Forta';
    position: relative;
    /* background-color: red; */
}

.traço-dome {
    /* background-image: url('../../assets//images/traço_dome.png'); */
    /* width: 100%;
    height: 100%; */
    position: absolute;
    left: -60px;
    bottom: -65px;
    display: none;
}

.about-right-text span:hover > .traço-dome {
    display: block;
}

.letter {
    transition: color 15s ease;
  }
  
  .letter:hover {
    color: transparent;
    transition: color 0s ease;
  }

/* ##################### */

.gallery {
    --s: 160px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 5px;
    position: relative;
    margin-top: -40px;
  }

  .gallery input {
    position: absolute;
    /* border: 2px solid #000; */
    /* border-radius: 50%; */
    inset: calc(20% - var(--s)/3);
    cursor: pointer;
    /* --g: linear-gradient(#000 0 0) no-repeat; */
    /* background: var(--g) 50%/var(--b,0%) 3px,var(--g) 50%/3px var(--b,0%); */
    transition: 1.5s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .gallery > img {
    width: var(--s);
    aspect-ratio: 1;
    object-fit: cover;
    opacity: .5;
    transform: scale(.8);
    filter: brightness(0);
    pointer-events: none;
    transform-origin: var(--x) var(--y);
    transition: 1s calc((var(--i) - 1)*.1s);
  }
  .gallery > img:nth-of-type(1) {--i:1;--x: 150%;--y:150%;}
  .gallery > img:nth-of-type(2) {--i:2;--x:  50%;--y:150%;}
  .gallery > img:nth-of-type(3) {--i:3;--x: -50%;--y:150%;}
  .gallery > img:nth-of-type(4) {--i:4;--x: 150%;--y:50%; }
  .gallery > img:nth-of-type(5) {--i:5 }
  .gallery > img:nth-of-type(6) {--i:6;--x: -50%;--y:50%; }
  .gallery > img:nth-of-type(7) {--i:7;--x: 150%;--y:-50%;}
  .gallery > img:nth-of-type(8) {--i:8;--x:  50%;--y:-50%;}
  .gallery > img:nth-of-type(9) {--i:9;--x: -50%;--y:-50%;}
  
  .gallery > input:checked ~ img {
    transform: scale(1);
    filter: brightness(1);
    pointer-events: initial;
    opacity: 1;
  }
  .gallery > input:checked {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    /* transform: translateY(calc(1.75*var(--s))) scale(.5) rotate(45deg); */
    width: 100%;
    height: 100%;
    --b: 70%;
  }
