@font-face {
  font-family: Forta;
  src: url(./assets//fonts/forta/Forta.ttf);
}

@font-face {
  font-family: LineNexa;
  src:url(./assets/fonts/lineNexa/lineNexa.ttf);
}

:root {
  --bg--claro: rgb(187, 187, 187);
  --bg--escuro: rgb(33, 33, 33);

  --bg--detail: rgb(223, 223, 70);
}

::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg--claro);
  overflow-x: hidden;
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

main::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('./assets/images/noise3.jpg') repeat center;
  mix-blend-mode: screen;
  opacity: .8;
  animation: noiseEffect 1s steps(10) infinite;
  z-index: -1;
}

main section {
  scroll-snap-align: start;
}

@keyframes noiseEffect {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}